.call_to_action{
  border-top: 1rem solid $secondary;
  @media screen and (min-width: 600px) {
    border-bottom: 1rem solid $secondary;   
  }
  .title{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.7rem;
    padding: 2rem 0;
    @media screen and (min-width: 600px) {
      width: 100%;
      margin: 0;
      padding: 5rem 0;
    }
    img{
      margin-bottom: 1rem;
      @media screen and (min-width: 600px) {
        margin: 0 0 -0.25rem 0.5rem;
      }
    }
    span{
      text-align: center;
    }
  }  
}

.action{
  &__logo{}
  &__wrapper{
    @media screen and (min-width: 600px) {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 5rem; 
    }
  }
  &__btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 4rem 2rem;
    border-style: solid;
    border-color: $secondary;
    border-width: 2px 0;
    background-color: transparent;
    &:first-child{
      margin-bottom: 2rem;
    }
    &:last-child{
      flex-direction: row-reverse;
      .action__text{
        text-align: right;
      }
    }
    @media screen and (min-width: 600px) {
      width: calc(50% - 1rem);
      border-width: 2px;
      margin: 0 !important;
      &:first-child{
        flex-direction: row-reverse;
        .action__text{
          text-align: right;
        }        
      }
      &:last-child{ 
        flex-direction: row;
        .action__text{
          text-align: left;
        }       
      }
    }
  }
  &__text{
    width: auto;
    padding: 1rem 2rem;
    text-align: left;
    line-height: 1;
    @media screen and (min-width: 1000px) {
      font-size: 4.6rem;
      padding: 0 9rem;
    }
  }
}