.blog{
  margin: 4rem 0 7rem;
  >.title{
    padding: 0 3rem;
    font-weight: 500;
    @media screen and (min-width: 600px) {
      margin: 0 0 3rem;
      padding: 0 4rem;
    }
    @media screen and (min-width: 1400px) {
      padding: 0 6rem;
    }
  }
  >.blog__desc{
    padding: 0 3rem;
    @media screen and (min-width: 600px) {
      padding: 0 4rem;
      margin-bottom: 7rem;
    }
    @media screen and (min-width: 1400px) {
      padding: 0 6rem;
    }
  }
  &__cover{
    position: relative;
    display: block;
    width: 100%;
    height: 36rem;
    margin-bottom: 4rem;
    overflow: hidden;
    @media screen and (min-width: 1000px) {
      height: 64rem;
    }
    img{
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      max-width: 100%;
      width: 100%;
      transform: translate(-50%, -50%);
      @media screen and (min-width: 1000px) {
      }
    }
    video, iframe{
      width: 100%;
      height: 100%;
    }
  }
  &__date{
    display: flex;
    margin-bottom: 4rem;
    padding: 0 3rem;
    font-weight: 600;
    span{      
      color: $secondary;
      &:not(:last-child){
        padding-right: 1rem;
        margin-right: 1rem;
        color: $accent;
        border-right: 2px solid $secondary;
      }
      @media screen and (min-width: 600px) {
        font-size: 1.4rem;
      }
    }
    @media screen and (min-width: 600px) {
      margin-bottom: 3rem;
      padding: 0 4rem;
      .date{
        display: none;
      }
    }
  }
  &__item-control{
    display: none;
    @media screen and (min-width: 770px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 2rem;
      .date{
        font-size: 1.4rem;
        font-weight: 700;
        color: $grey;
      }
    }
  }
  &__other{
    @media screen and (min-width: 600px) {
      display: block;
      padding: 0 1rem;      
      column-count: 2;
      column-gap: 4rem;
    }
    @media screen and (min-width: 1100px) {
//      display: flex;
//      flex-wrap: wrap;
      padding: 0;
      column-count: 3;
      column-gap: 3rem;
    }
    .heading{
      width: 100%;
      padding: 0 3rem 4rem;
      @media screen and (min-width: 600px) {
        text-align: center;
      }
    }
    .blog__cover{
      margin-bottom: 2rem;
      @media screen and (min-width: 600px) {
        position: relative;
        display: block;
        margin-bottom: 5rem;
        margin-right: 6rem;
        height: 240px;
        width: 50%;
        overflow: hidden;
      }
      @media screen and (min-width: 1000px) {
        width: 100%;
        margin: 0 0 3rem;
      }
      img{
        width: 100%;
        height: auto;
        @media screen and (min-width: 600px) {
          position: absolute;
          top: 50%;
          left: 50%;
          max-width: 100%;
          height: auto;
          transform: translate(-50%, -50%);
          margin-bottom: 5rem;
        }
      }
      
    }
    .blog__date{
      margin-bottom: 1rem;
      @media screen and (min-width: 600px) {
        padding: 0;
      }
      span{      
        color: $grey;
        &:not(:last-child){
          color: $secondary;
          border-right: 0;
        }
      }
    }
    .blog__desc{
      flex: 1;
      >a{
        display: block;
        @media screen and (min-width: 600px) {          
          white-space: pre-wrap;
        } 
      }
    }
    .text--md{
      color: $accent;
      padding: 0 3rem;
      font-weight: 600;
      @media screen and (min-width: 600px) {
        padding: 0;
      }      
    }
    .other__item{
      margin-bottom: 4rem;
      .blog__preview-text{
        display: none;
      }
      @media screen and (min-width: 600px) {
        display: block;
//        display: flex;
//        align-items: center;
        .blog__preview-text{
          display: block;
        }
        .blog__cover{
          height: auto;
          img{
            position: static;
            transform: none;
            margin-bottom: 0;
          }
        } 
      }
      @media screen and (min-width: 1000px) {
        padding: 1rem;
        flex: 1;
        flex-direction: column;        
        break-inside: avoid;
        padding: 10px;
        counter-increment: item-counter;
      }
    }
    &--column{
      @media screen and (min-width: 600px){
        .other__item .blog__cover{
          width: 100%;
        }
      }
    }
    &--article{
      @media screen and (min-width: 600px){
        display: flex;
        flex-wrap: wrap;
        .other__item{
          display: flex;
          align-items: center;
          .blog__cover{
            height: 24rem;
            margin-bottom: 0;
            img{
              position: absolute;
              transform: translate(-50%, -50%);
            }
          }
        }        
      }
      @media screen and (min-width: 1000px) {
        .other__item .blog__cover{
            margin-bottom: 3rem;
        } 
      }
    }
  }
}