.btn{
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem 0 2rem;
  min-width: 16.5rem;
  height: 4rem;
  font-size: 1.4rem;
  color: $dark;
  white-space: nowrap;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid $secondary;
  &:after{
    content: '';
    position: absolute;
    right: 1.5rem;
    top: auto;
    width: 1rem;
    height: 1rem;
    transform: rotate(-45deg);
    border-style: solid;
    border-color: $secondary;
    border-width: 0 2px 2px 0;
  }
}