.btn{
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem 0 2.5rem;
  min-width: 16.5rem;
  height: 4rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: $dark;
  white-space: nowrap;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid $secondary;
  &:after{
    content: '';
    position: absolute;
    right: 1.5rem;
    top: auto;
    width: 1rem;
    height: 1rem;
    transform: rotate(-45deg);
    border-style: solid;
    border-color: $secondary;
    border-width: 0 2px 2px 0;
  }
  &__more-wrapper{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    .btn{      
      margin: 0 auto -4rem;
      border-color: $grey;
    }
    &:before{
      content: '';
      position: absolute;
      top: auto;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: $grey;
    }
    @media screen and (min-width: 1200px) {
      margin: 0 6rem;
      width: calc(100% - 12rem);
    }
  }
}