.catalog{
  display: flex;
  flex-direction: column;
  margin: 4rem auto 10.8rem;
  align-items: flex-start;    
  @media screen and (min-width: 700px) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    .dropdown{
      display: none;
    }
  }
  @media screen and (min-width: 600px) {
    margin-top: 7rem !important;
    margin-bottom: 10rem !important;
  }
  >.heading{
    padding: 0 3rem 4rem;    
    @media screen and (min-width: 1000px) {
      width: 100%;
      text-align: center;
      margin-bottom: 4rem;
    }
  }
  .btn{
    margin: auto;
  }
  .show-more{
    display: flex;
    width: 100%;
    margin-bottom: 10rem;
    border-top: 2px solid $grey;
    .btn{
      margin: -2px auto 0;
      border-color: $grey;
      &:after{
        transform: rotate(45deg) translate(-20%, 0);
      }
    }
  }
  
  
  
  &__slider{
    width: 100%;
    @media screen and (min-width: 700px) {
      .desc{
        position: absolute;
        top: 50%;
        left: 40%;
        width: 50%;
        transform: translate3d(0, -50%, 0);
        padding: 0;
      }
      .price__wrapper{
        display: flex;
        align-items: center;
        width: 100%;
        .price{
          margin: 0;
        }
        .btn{
          margin-left: auto;
        }
      }
    }
    @media screen and (min-width: 900px) { 
      .desc{
        padding: 0 4rem 0 0;          
      }
      .btn{
        margin-left: 10rem;
      }      
    }
    &--product{
      margin-bottom: 10rem;
      @media screen and (min-width: 700px) {
        background: url(../img/blot_product.png) no-repeat center / contain;
      }
    }
    
    &-wrapper{
      display: flex;
      padding: 3rem 0 0 !important;
      align-items: stretch;
      .catalog__item{
        justify-content: space-between;
        @media screen and (min-width: 600px) {
          margin-bottom: 2.5rem;
          &:last-child{
            margin-bottom: 2.5rem;
          }
        }
      }
    }
    .slide{
      margin-bottom: 3rem;
      max-width: 1200px;
      margin: auto;
      @media screen and (min-width: 700px) {
        padding: 2rem 8rem 0;
      }      
      @media screen and (min-width: 1000px) {
        padding: 0 8rem;
      }
    }
    .slide__img{
      width: 100%;
      background: url(../img/blot_product.png) no-repeat center / cover;
      @media screen and (min-width: 700px) {
        background: none;
      }
      img{
        transform: translate(-50%, -50%);
        max-height: 100%;
        max-width: 100%;
        width: auto;
      }
      @media screen and (min-width: 700px) {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 30%; 
        width: auto;
        max-height: 50rem;
        img{
          object-fit: contain;          
          transform: translate(-50%, -50%);
        }
        &:after{
          display: none;
        }
      }
    }    
  }
  &__items{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    @media screen and (min-width: 1000px) {
      justify-content: space-around;
      width: 75%;
    }
  }
  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7rem;
    text-decoration: none;
    color: $dark_text;
    &:last-child{
      margin-bottom: 2.5rem;
    }
    @media screen and (min-width: 770px) {
      width: 50%;
      &:last-child{
        margin-bottom: 7rem;
      }
    }
    @media screen and (min-width: 1100px) {
      width: 33%;
    }
  }
  &__img{
    position: relative;
    width: auto;
    margin-bottom: 2rem;
    background: url(../img/blot.png) no-repeat center;
    background-size: 0%;
    transition: $anim/2;
    padding: 0 4rem;
    &:hover{
      background-size: 100%;
    }
  }
  &__desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3rem 3rem;
    span:not(:last-child){
      margin-bottom: 1rem;
    }
    .name{
      color: $accent;
      font-size: 1.7rem;
      font-weight: 600;
    }
    .text{
      font-size: 1.22rem;
      line-height: 1.2;
      text-align: center;
    }
    .price{
      font-weight: 600;
    }
  }
  &__filter{
    display: none;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 7rem;
    @media screen and (min-width: 700px) {
    display: flex;
    }
    @media screen and (min-width: 1000px) {
      width: 25%;
      .filter__item{
        font-weight: 500;
        &:first-child{
          margin-bottom: 2rem;
        }
      }
    }
  }
}

.filter__item{
  display: inline-block;
  height: 4rem;
  width: 33%;
  background-color: transparent;
  padding: 0 2rem;
  margin: 0 0 1rem;
  text-align: left;  
  line-height: 1;
  font-size: 1.4rem;
  border: none;
  color: $grey;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;  
  @media screen and (min-width: 1000px) {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
  }
  &.heading{
    font-family: 'Caveat', cursive;
    font-size: 3.4rem;
    font-weight: normal;
    padding: 0 2rem;
    color: $secondary;
  }
  &:focus,
  &.active{
    outline: none;
    color: $secondary;
  }
}