.description{
  padding: 4rem 3rem 5rem;
  font-size: 1.2rem;
  color: $dark;
  &--mobile{
    @media screen and (min-width: 600px) {
      display: none;
    }
  }
  &--desktop{
    display: none;    
    @media screen and (min-width: 600px) {
      display: block;
    }
  }
}