footer{
  padding: 2rem 3rem 5rem;
  color: $grey_text;
  .container{
    @media screen and (min-width: 600px) {
      flex-direction: row;
    }    
  }
  .logo{
    display: none;
    @media screen and (min-width: 1000px) {
      display: inline-flex;
      width: auto;
      margin-right: 6rem;
      img{
        height: 2.5rem;
      }
    }
  }
  @media screen and (min-width: 600px) {
    padding: 3rem 0 4rem;
  }
}

.footer{
  &__socials{
    margin: 1rem 0 2.5rem;
    @media screen and (min-width: 600px) {
      display: flex;
      align-items: center;
      margin: 0 6rem;
    }
    a{
      width: 3.3rem;
      height: 3.3rem;
      border-width: 2px;
      padding: 0.6rem;
      border-color: $secondary;
      svg path{
        fill: $secondary;
      }
      &:hover{
        border-color: $grey;
        svg path{
          fill: $grey;
        }
      }
    }
  }
  &__links{
    display: flex;
    align-items: center;
    margin-bottom: 0rem;
    &-wrapper{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;    
      @media screen and (min-width: 600px) {
        align-items: flex-end;
      }
    }    
    @media screen and (min-width: 600px) {
      margin: 0;
    }
  }
  &__link{
    &:not(:last-child){
      padding-right: 1rem;
      margin-right: 1rem;
      border-right: 2px solid $secondary;
    } 
  }
}

.copyright{
  font-size: 1rem;
  line-height: 1.2;
  @media screen and (min-width: 600px) {
    margin: 0;
    font-size: 1rem;
    line-height: 1.2rem;
    br{
      display: none;
    }
  }  
  @media screen and (min-width: 1000px) {
    display: flex;
    align-items: center;
    margin-right: 6rem;
  }
}