input, textarea{
  background-color: transparent;
}

input{
  line-height: 2rem;
  height: 4rem;
  padding: 2rem 0 0;
  border: solid $grey;
  border-width: 0 0 0.2rem;
  width: 100%;
  &~span{
    content: '!';
    position: absolute;
    right: 0.5rem;
    top: auto;    
    z-index: 2;
    display: none;
    font-size: 2rem;
    color: $danger;
  }
}

label{
  line-height: 2.2rem;
  font-size: 1.7rem;  
}

textarea{
  line-height: 4rem;
  border: none;
  height: auto;
  background-image: linear-gradient(transparent 3.8rem, $grey 3.8rem);
  background-size: 100% 4rem;
  background-attachment: local;
}

.field{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  @media screen and (min-width: 750px){
    margin: 0;
    &__wrapper{
      margin-bottom: 2rem;
    }
    &--textarea{
      margin-bottom: 6rem;
    }
  }  
}

.field__wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;  
}



form{
  .success-msg{
    display: none;
  }  
  &.sent{
    .success-msg{
      display: inline;
    }
    .btn{
      display: none;
    }
  }
}

@media screen and (min-width: 750px){
  .field{
    flex-direction: row;
    align-items: flex-end;
    input, textarea{
      flex: 1;
      &:focus{
        outline: none;        
      }
    }
    input{
      max-width: 35rem;
    }
    label{
      margin-right: 1rem;
    }
    &--textarea{
      label{
        position: absolute;
        top: 0;
        display: flex;
        align-items: flex-end;
        height: 4rem;
        padding-right: 1rem;
        background-color: $light;
      }
      textarea{
        text-indent: 50px;
      }
    }
  }
}

.wpcf7-not-valid{
  border-bottom: 2px solid $danger;
  &~span{
    display: block;
  }
}
.wpcf7-mail-sent-ok, 
.wpcf7-validation-errors/*, 
.wpcf7-not-valid-tip*/{
  display:none;
}
