    header {
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    width: 100%;
    padding: 0;
    background-color: $light;
    .container{
      margin: 0 -2rem 0 0;
    }
    
    @media screen and (min-width: 770px) {
      position: relative;
      flex-direction: column;
      height: auto;
      padding-top: 5rem;
      .container{
        margin: 0;
      }
    }
    
    &.fixed{
      border-bottom: 2px solid $secondary;
      .menu__wrapper{
        border-bottom: 2px solid $secondary;
      }
      @media screen and (min-width: 770px) {
        padding: 0;
        position: fixed;
        .container{
          flex-direction: row;
          align-items: center;
        }
        .logo{
          width: auto;
          height: 2rem;
          margin: 0;
          img{
            height: 100%;
            width: auto;
          }
        }
        .menu{
          margin: 0;
          &__wrapper{
            padding: 0 0 0 3rem;
            border: none;
          }
          &__item{
            margin: 0 1rem;
          }
        }
      }
      @media screen and (min-width: 1100px) {
        .logo{
          margin: 0 auto 0 6rem;
        }
        .menu__wrapper{
          padding: 0 6rem;
        }
      }
    }
  }
  
  .logo {
    height: auto;
    display: flex;
    align-items: center;
    margin-right: auto;
    position: absolute;
    left: 30px;
    top: auto;
    z-index: 10;
    @media screen and (min-width: 770px) {
      position: static;
      justify-content: center;
      height: 6rem;
      width: 100%;
    }
    @media screen and (min-width: 1000px) {
      margin-bottom: 1rem;
      img{
        height: 3.5rem;
      }
    }
  }
  
  .cart,
  .menu__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 6rem;
    position: relative;
    z-index: 10;
  }

.cart{
  width: 3rem;
  svg{
    width: 2rem;
    transition: $anim/2;
    path, circle{
      fill: $grey;
      transition: $anim/2;
    }    
  }
  &:hover{
    svg path, svg circle{
      fill: $secondary;
    }
  }
}

  
  .menu {
    height: 100%;
    /* position: relative; */
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media screen and (min-width: 770px) {
      height: 6rem;
    }
    @media screen and (min-width: 1400px) {
      padding: 0 6rem;
      margin-bottom: 2rem;
    }
    &:after {
      content: '';
      position: absolute;
      z-index: 9;
      top: 0;
      left: 0;
      background-color: $light;
      width: 100%;
      height: 100%;
      @media screen and (min-width: 770px) {
        display: none;
      }
    }
    &__wrapper {
      position: absolute;
      z-index: 8;
      left: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 8rem 3rem 2rem;
      list-style: none;
      background-color: $light;
      color: $grey;
      transform: translateY(-100%);
      transition: $anim ease-in;
      @media screen and (min-width: 770px) {
        position: static;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem 0 0;
        transform: translateY(0);
      }
      &.active {
        transform: translateY(0);
      }
      .social__btn{
        height: 2rem;
      }
      .socials{
        position: absolute;
        right: 4rem;
        bottom: 3rem;
        @media screen and (min-width: 770px) {
          position: static;
        }
      }
    }
    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 4rem;
      width: 100%;
      transition: $anim;
      @media screen and (min-width: 770px) {
        width: auto;
      }
      &:hover, &.current-menu-item {
        color: $secondary;
      }
      a {
        font-size: 1.4rem;
        color: inherit;
        text-decoration: none;
        @media screen and (min-width: 770px) {
          font-size: 1.5rem;
          font-weight: 500;
        }
        @media screen and (min-width: 1000px) {
          font-size: 1.7rem;
        }
      }
    }
    &__btn {
      position: relative;
      z-index: 10;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: none;
      cursor: pointer;
      @media screen and (min-width: 770px) {
        display: none;
      }
      &:hover,
      &:focus,
      &:active {
        outline: none;
      }
      &:hover span{
        background-color: $secondary;
      }
      span {
        display: block;
        height: 2px;
        width: 2rem;
        background-color: $grey;
        transition: $anim;
        &:not(:last-child) {
          margin-bottom: 0.4rem;
        }
      }
      &.active {
        span {
          &:first-child {
            transform: translateY(6px) rotateZ(45deg);
          }
          &:nth-child(2) {
            transform: scale(0);
          }
          &:last-child {
            transform: translateY(-6px) rotateZ(-45deg);
          }
        }
      }
    }
  }