html, body{
  font-size: 10px;
}

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: $dark;
  line-height: 1.5;
  background-color: $light;
}

.price{
  font-weight: 600;
  .sale{
    margin-right: 2rem;
    color: $secondary;
    text-transform: uppercase;
    text-decoration: line-through;
  }
}

.desc{
  padding: 0 3rem 3rem;
  p{
    margin: 0 0 2rem;
  }
  .title{
    margin-right: 2rem;
    padding: 0;
  }
  @media screen and (min-width: 600px) {
    padding: 0 2rem 3rem;
  }    
}

.section{
  margin: 4rem 0;
  >.title{
    padding: 0 3rem;    
    @media screen and (min-width: 600px) {
      padding: 0 2rem;
    }
  }
}

.home{
  &__salons{
    @media screen and (min-width: 600px) {
      padding: 4rem 3rem 5rem !important;
      .title{
        padding: 0; 
      }
      .salons__desc{
        padding: 0;
      }
      .salons__item{
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 0 10rem;
        img{
          height: 12rem;
        }
      }
      .salons__link{        
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: row-reverse;
        text-decoration: none;
        justify-content: space-between;
        align-items: center;
      }
    }
    @media screen and (min-width: 1100px) {
      flex-direction: row;
      flex-wrap: wrap;
      .salons__item{
        flex-direction: row-reverse;
        padding: 0 1rem;        
        width: 50%;
        background: none !important;
        .salons__link{
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          padding: 0 6rem;
        }
        &.vlad .salons__link{
          background-image: url(../img/salon_vlad.png);
        }
        &.hab .salons__link{      
          background-image: url(../img/salon_hab.png);
        }
      }
    }
  }
}
