.service{
  &__cover{
    display: block;
    width: 100%;
    @media screen and (min-width: 600px) {
      height: 40rem;
      position: relative;
      overflow: hidden;
    }
    @media screen and (min-width: 1100px) {
      max-height: 64rem;
      min-height: 34rem;
      max-width: 50%;
      height: 100%;
      flex: 1;
    }
    img{
      width: 100%;
      @media screen and (min-width: 600px) {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  &__desc{
    padding: 4rem 3rem 7rem;
    @media screen and (min-width: 1100px) {
      flex: 1;
      padding: 0 0 0 4rem;
    }
  }
  &__title{
    margin: 0 0 4rem;
    color: $accent;
  }
  &__text{
    margin-bottom: 4rem;
  }
  &__control{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media screen and (min-width: 600px) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    .btn{
      margin: 4rem 0;
      @media screen and (min-width: 600px) {
        margin: 0;
      }
    }
  }
  &__item{
    @media screen and (min-width: 1100px) {
      flex-direction: row;
      display: flex;
      align-items: center;
      margin-bottom: 4rem;
    }
    @media screen and (min-width: 1400px) {
      padding: 0 6rem;
    }
    .btn{
      margin: 0 !important;
    }
  }
  &__price{
    display: flex;
    flex-direction: column;
    margin: 0 0 2rem;
    @media screen and (min-width: 600px) {
      margin: 0;
    }
    @media screen and (min-width: 800px) {
      align-items: center;
      flex-direction: row;
      .sale{
        margin: 0 1rem;
      }
    }
  }
  .btn{
    margin: 0;
  }
}

.tab>.service__item{
  padding: 0 1rem;
  @media screen and (min-width: 1400px) {
    padding: 0 7rem;
  }
}