.training{
  display: flex;
  flex-direction: column;
  padding: 7rem 3rem 6rem;
  border-color: $secondary;
  border-style: solid;
  border-width: 1rem 0;
  .heading{
    margin-bottom: 7rem;
    padding-right: 2rem;
  }
  .btn{
    width: auto;
    min-width: 18rem;
    margin: auto;
  }
  &__desc{
    margin-bottom: 7rem;
  }
  &__registration{
    .heading{    
      text-align: left;
      margin-bottom: 4rem;
    }
    .price{
    font-size: 2.4rem;
    }
    .desc{
      text-align: center;
    }
  }
}

.date{
  &__slider{
    flex: 1;
    width: 100%;
    .slide__btn{
      &.next{
        right: -3rem;
      }
      &.prev{
        left: -3rem;
      }
    }
  }
  &__list{
    display: flex;
    justify-content: space-around;
    padding: 0;
    .num{
      font-size: 3.6rem;
    }
    .month{
      font-size: 2.4rem;
    }
  }
  &__wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 4rem;
    @media screen and (min-width: 770px) {
      flex-direction: row;
      align-items: center;
      width: auto;
      .text--sm{
        flex: 0;
        margin-left: 4rem;
      }
    }
  }
  &__period{
    color: $dark_text;
    font-size: 1.4rem;
    span{
      font-weight: bold;
      font-size: 2rem;
    }
    @media screen and (min-width: 770px) {
      flex: 0;
      margin-left: 4rem;
      text-align: right;
    }
  }
  &__item{
    display: flex;
    flex-direction: column;
    color: $grey;
  }
}