$primary: #462031;
$primary_op: rgba(70, 32, 49, 0.5);
$secondary: #b29477;
$grey_text: #1f1f1f;
$dark_text: #777171;
$accent: #3b2028;

$light: #fdfbfb;
$light_op: rgba(253, 251, 251, 0.51);
$dark: #000;
$grey: #bebcbc;

$success: #8eb173;
$danger: #9e0b0f;

$anim: 0.2s;